$text-color: #4d4d4d;
$text-font-size: 1.4rem;
$border-color: #e3e3e3;
$success-color: #28d475;
$warning-color: #fa7f7f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.main {
    flex: 1 0 0px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 250px;
    max-width: 550px;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}

.header__text {
    color: rgba(175, 47, 47, 0.15);
    font-weight: normal;
    font-size: 6rem;
}

.controls-and-todos {
    border: 1px solid $border-color;
    border-bottom: 1px solid darken($border-color, 10%);
    box-shadow: 0 5px 15px 0px #d1d1d1;
}

.top-controls {
    display: flex;
    border-bottom: 1px solid $border-color;
    background: #fff;
}

.top-controls__new-todo {
    flex: 1 0 0px;
    padding: 18px 10px 18px 60px;
    color: $text-color;
    font-size: $text-font-size;
    border: none;
    outline: none;
}

.top-controls__new-todo::placeholder {
    color: lighten($text-color, 55%);
    font-style: italic;
}

.todos-list {
    margin-top: 2px;
    background: #fff;
}

.todo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    list-style-type: none;
    padding: 17px 25px 17px 10px;
}

.todo__checkbox {
    width: 35px;
    height: 35px;
    margin: 0 20px 0 0;
    background: transparent;
    border-radius: 50%;
    border: 1px solid $border-color;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.todo__checkbox:checked {
    border-color: $success-color;
}

.todo__checkbox:checked:after {
    content: "✓";
    padding: 0 0 0 4px;
    color: $success-color;
    font-size: 30px;
}

.todo__label {
    flex: 1 0 0px;
    font-size: $text-font-size;
    color: $text-color;
}

.todo__delete-button {
    font-size: 1.2rem;
    color: $warning-color;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.todo:hover .todo__delete-button {
    display: inline-block;
}

.todo__delete-button:hover {
    color: darken($warning-color, 10%);
}

.bottom-controls {
    display: flex;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2)
}

.bottom-controls__count {
    color: lighten($text-color, 20%);
    font-size: 0.9rem;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
}

.footer__row {
    font-size: 0.7rem;
    color: lighten($text-color, 40%);
}

.footer__row:not(:last-child) {
    margin-bottom: 7px;
}
